.categories{
	text-align:center;
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	justify-content:space-around;
	background: #dedede;
	padding-bottom: 30px;
	border-radius: 10px;
}

.categories div{
	margin-top: 20px;
	width : 200px;
}
.categories div a:hover {
	color : #1F0080;
}
.categories div a {
	text-decoration:none;
	color : #1f1f1f;
}
.categories div img{
	height:200px;
}
.categories div img ~ h3{
	margin-top: -10px;
}


.superpose {
	position:absolute;
	z-index:10 !important;
	width: 55px;
	height: 55px !important;
	transform: rotate(-20deg);
}


.meilleures_ventes {
	text-align:center;
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	justify-content:space-around;
	padding-bottom: 30px;
}

.meilleures_ventes div{
	margin-left : 10px;
	margin-right : 10px;
	margin-top: 20px;
	background-color : #ECECEC;
	border-radius : 5px;
	width : 200px;
	padding:10px;
}

.meilleures_ventes h3 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.meilleures_ventes div img{
	height:200px;
	/* max-width:200px; */
	z-index: 1;
	border-radius: 10px;
}
.meilleures_ventes div a:hover {
	color : #1F0080;
}
.meilleures_ventes div a {
	text-decoration:none;
	color : #1f1f1f;
}


.marques {
	text-align:center;
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	justify-content:space-around;
	background: #dedede;
	border-radius:5px;
}
.marques a{
	margin : 10px;
	width : 170px;
	padding:5px;
	background-color : white;
	border-radius : 10px;
	align-items: center;
	display: flex;
}
.marques a img{
	width : 170px;
}


.wrapper img {
	transition: transform 0.2s;
}
.wrapper img:hover{
	transform: scale(1.1);
}





