.gris{
	background-color: #efefef;
	border-radius: 10px;
}
.panier {
	display:flex;
	flex-direction: column
}

.panier div a[href]:hover {
	color: #6F6F6F;
}

.panier div aside select {
	padding: 5px;
	font-size: 1em;
}
.panier div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: #DEDEDE; 
	margin: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.panier div a:nth-child(3) {
	width: calc(100% - 230px);
}

.panier div aside{	
	width: 100px;
}
.panier div aside:last-child{ 
	height: 95px;
}
.panier div a:first-child {
	padding:10px;
	margin: 10px;
	text-align: center;
	background-color: #F7F7F7;
	border-radius: 5px; 
}
.panier div a img{
	width: 130px;
	transition: transform 0.2s;
}
.panier div a img:hover {
	transform: scale(1.2) rotate(-10deg);
}
.panier div a, .panier div aside {
	min-width:100px;
	max-width:40%;
	text-align:center;
	vertical-align: baseline;
	margin: 0 auto;
	padding: 5px;
	text-decoration: none;
	color: black;
}


.margin-right {
	margin-right: 10%;
}

.panier input[type="submit"] {
	display:inline-block;
	text-align:center;
	display: block;
	width: 200px;
	margin: 0 auto;
	margin-bottom: 10px;
	/* margin-left: 10px; */
	/* margin-right: 10px; */
}

/* .resume div a:nth-child(2) { */
	/* width: calc(100% - 200px); */
/* } */


.gris {
	padding: 10px;
}
form[action="pay.html"] .gris p {
	margin-bottom: 5px;
}
form[action="pay.html"], form[action="paybq.html#InfoPayment"], form[action="payconf.html"] {
	text-align:center;
}
form[action="pay.html"] input[type="text"] {
	display: block;
	margin: 0 auto;
	background-color:transparent;
	min-width:300px;
}

form[action="pay.html"] input[type="text"] {
	max-width:400px;
	width:90%;
}

.FormSec h4 {
	margin-top: 5px;
}
.DteCVV div {
	width: 50%;
}
.DteCVV {
	display:flex;
}

.FormSec {
	padding: 20px;
	max-width: 350px;
	margin: 0 auto;
	background-color:#D5D5D5;
}

#CVV {
	max-width: 100%;
}
#CB {
	width: 100%;
}
#CVV, #CB, #Dte {
	border : 1px solid black;
	border-radius: 5px;
	height: 35px;
	max-height:35px;
	padding: 1px;
}


#griser 
{ 
    background-color: white; 
    opacity: 0.20; /* Safari, Opera */ 
    z-index: 19;
    background-repeat:no-repeat; 
    background-position:center;
} 

#griser img {
	position: fixed;
	top: calc(50% - 100px);
	right: calc(50% - 100px);
	margin-left: auto;
	margin-right: auto;
	z-index: 20;
	display: block;
}

iframe {
	width: 100%;
	min-height:400px;
}







