.Prod_Header h2 {
	text-align: left;
}	
.Prod_Header {
	margin-left: 5%;
	display: block;
	text-align: left !important;
}

.Prod_Contenu div:first-child {
	background-color: #F9F9F9;
	min-width:300px;
}
.Prod_Contenu div:first-child blockquote img {
	width: 100%;
	height: auto;
}
.Prod_Contenu div:first-child aside img:hover{
	transform: scale(1.8);
	z-index: 20;
}
.Prod_Contenu div:first-child aside img {
	width: 25%;
	height: auto;
	transition : transform 0.2s;
}
.Prod_Contenu div:first-child aside {
	display:flex;
}
.Prod_Contenu div:nth-child(2) {
	text-align:justify;
}
.Prod_Contenu div aside h2 {
	margin: 0 auto;
}
.Prod_Contenu div aside input{
	display: inline;
	margin-left: 10px;
	/* margin: 10px; */
	/* display: block; */
	margin: 0 auto;
}
.Prod_Contenu div:first-child aside {
	display:flex;
}
.Prod_Contenu div {
	width: calc(50% - 40px);
	background-color: transparent;
}
.Prod_Contenu {
	display: flex;
}

.Prod_Contenu div aside select {
	display: inline-block;
	text-align:center;
	margin: 0 auto; 
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

form[action="../../cart.html"], form[action="../../../cart.html"]{
	text-align:center;
	margin : 0 auto;
}

@media screen and (min-width: 895px) { 
	.Prod_Contenu .cacheG {
		display:none;
	}
	.Prod_Contenu .cacheP form , .Prod_Contenu .cacheP h2 {
		margin : 0;
		text-align:left;
	}
	.Prod_Contenu .cacheP form {
		margin-left: 50px;
	}
	.Prod_Contenu .cacheP h2 {
		margin-left: 80px;
	}
}
@media screen and (max-width: 895px) { 
	.Prod_Contenu div{
		width: 100%;
	}
	.Prod_Contenu div:first-child blockquote img {
		width: 50%;
		height: auto;
	}
	.Prod_Contenu .cacheP {
		display:none;
	}
}


.Prod_Contenu h2 {
	margin-top: 25px;
}



.tableau{
	display: table;
	width: 100%;
}
.ligneT {
	display: table-row;
}

.cellule {
	display: table-cell;
	border: 1px solid black;
	padding: 3px 10px;
}
.corpsTableau {
	display: table-row-group;
	width: 100%;
}
.ligneT .cellule:first-child{
	width: 120px;
}

.fond{
	background-color: #ECECEC;
	border-radius: 10px;
	padding: 10px;
	max-width: 1000px;
	margin: 0 auto;
}

.results{
	max-width: 1100px;
	margin: 0 auto; 
}

#comForm {
	margin: 10px;
	margin-right: 5%;
	margin-left: 5%;
}

#comRecueN:checked ~ #comPost, #comRecueO:not(:checked) ~ #comPost {
	display: none;
}

#comRecueO:checked ~ #comPost {
	display: block;
}

#comForm {
	background-color: #DEDEDE;
	border-radius: 10px;
	padding: 10px;
}
#comPost .flex aside select {
	border-radius: 5px;
}
#comPost .flex aside{
	/* margin-left: 5%; */
	width: 40%;
	min-width: 250px;
}
#comPost textarea{
	font-family: VarelaRound;
	font-size: 17px;
	border-radius: 7px;
	width: 100%;
	height: 80px;
	outline: none;
}

input[value="Poster"] {
	font-size: 16px;
	margin-top: 20px;
	width: 100px;
}
input[name="titreCom"] {
	height: 33px;
	width: 95%;
	background-color: transparent;
}

.avisConso aside p, .Prod_Contenu p{
	text-indent: 15px;
}
.avisConso aside {
	border-radius: 5px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 1px;
	padding-bottom: 6px;
	margin-bottom: 2px;
}
.avisConso {
	background-color: #DEDEDE;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	/* padding-right: 5%; */
	/* padding-left: 5%; */
	margin-bottom: 40px;
}
.avisConso aside h3 span{
	vertical-align:super;
}
.avisConso aside h3 img {
	max-height: 30px;
}

img[src="../../res/etoileP.png"], img[src="../../res/etoileN.png"], img[src="../../../res/etoileP.png"], img[src="../../../res/etoileN.png"]{
	max-height: 30px;
}
#Note {
	text-align: center;
}
#Note span{
	vertical-align: super;
}

#CEC {
	display: block;
	margin: 0 auto;
}
