.login {
	display: block;
	margin: 0 auto;
	text-align:center;
	background-color: #efefef;
	width: 40%;
	min-width: 300px;
	border-radius: 10px;
}

.login label:first-child{
	margin-top: 20px;
}
.login label{
	display:block;
	margin-top: 10px;
}
.login div:first-child {
	padding: 5px;
	background-color: #E5E5E5;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.login div input[type="email"], .login div input[type="password"] {
	border: none;
	border-bottom: 1px solid black;
	background-color: transparent;
	font-size: 1.2em;
	width: 70%;
	min-width: 230px;
}


.login div input[type="email"]:focus, .login div input[type="password"]:focus {
	border-bottom: 1px solid grey;
	outline: none;
}