/* v.s. article */

h1{
	margin-bottom : 0;
}
h2 {
	margin-top: 0;
}

select{
	padding: 7px;
	font-size: 1em;
}

.Prod_Header  {
	margin-top: 50px;
	text-align:center;
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	justify-content:space-around;
	user-select: none;
}
.Prod_Header a svg {
	width: 30px;
	vertical-align:middle;
}
.Prod_Header span {
	line-height: 45px;
	align-items: center !important;
}
.Prod_Header a {
	display:inline-block;
	line-height: 30px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 7px;
	padding-bottom: 5px;
	font-family: VarelaRound;
    border: 1px solid grey;
	border-radius: 5px;
	transition: background-color 80ms linear;
}

.Prod_Header a:hover {
	background-color: #dedede;
}
.Prod_Header a:active {
	background-color: #ededed;
}


.Prod_Contenu {
	user-select: none;
	margin-top: 20px;
	text-align:center;
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	justify-content:space-around;
	padding-bottom: 22px;
	background-color : #ECECEC;
	border-radius: 10px;
}

.Prod_Contenu div{
	margin-left : 10px;
	margin-right : 10px;
	margin-top: 20px;
	background-color : #fcfcfc;
	border-radius : 5px;
	width : 200px;
	padding:10px;
}

.Prod_Contenu h3 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.Prod_Contenu div img{
	height:200px;
	/* max-width:200px; */
	z-index: 1;
	border-radius: 10px;
}
.Prod_Contenu div a:hover {
	color : #1F0080;
}
.Prod_Contenu div a {
	text-decoration:none;
	color : #1f1f1f;
}


.Prod_Footer{
	
}







