
@font-face {
  font-family: 'Roboto300';
  src: url(fonts/roboto300.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto400';
  src: url(fonts/roboto400.woff2) format('woff2');
}
@font-face {
  font-family: 'Pacifico';
  src: url(fonts/Pacifico.ttf) format('truetype');
}
@font-face {
  font-family: 'VarelaRound';
  src: url(fonts/VarelaRound.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Monserrat.woff2) format('woff2');
}
@font-face {
  font-family: 'Countryside';
  src: url(fonts/Countryside.ttf) format('truetype');
}
/* @font-face { */
  /* font-family: 'Forte'; */
  /* src: url(fonts/FORTE.ttf) format('truetype'); */
/* } */

/* body{ 
	font-family: Roboto400;
	padding-top: 4.4rem; /* Pour le menu * /
} */ 


 
body{
	font-family: Roboto300;
	margin: 0;
}

#menu{
	/* width: auto; */
	/* font-family: courier; */
	/* font-weight: bold; */
	color: inherit;
	font-family: Roboto300;
}
.marginTop{
	margin-top:5px;
}
.img_min{
	width: 30px;
	vertical-align: middle;
}

#close:link + #popup-livraison div {
	padding-right:40px;
}
#close:hover {background: #D8D8D8;}

#close + #popup-livraison{
	width: calc(100% - 20px);
	background-color: #E5E5E5;
	text-align: justify;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 10px;
	margin-right: 10px;
	padding-left: 10px;
	border-radius: 5px;	
	align-items: center;
	display:block;
}
#close {
	text-decoration: none;
	top: 34px;
	right:10px;
	float: right;
	padding: 12px 15px;
	border-radius:5px;
	text-align:center;
	background-color: #D4D4D4;
	display:block;
}
#close:active{
	/* , #close:visited + #popup-livraison */
	color: white;
	/* visibility: hidden; */
	display:none;
}
#close:active + #popup-livraison{
	display:none;
}


.fixed{
	position:absolute;
	top:190px;
	width: calc(100% - 20px) ;	
}
hr {
	border: none;
	height: 0.1px;
	background-color: grey;
}
#bandeau_search{
	display: table-cell;
	width: 100%;
	display: inline;
}
/* #bandeau_search #basket { */
	/* display: inline; */
	/* float : right; */
	/* width : 50px; */
/* } */
/* #bandeau_search #basket:after { */
	/* clear : both; */
/* } */
.cart img{
	transition-duration: 2s;
	width : 50px;
}
.cart img:hover{
	transform: rotate(360deg);
} 
.cart {
	width : 50px;
	vertical-align: bottom;
	margin-left: 20px;
}
#bandeau_search:first-child {
	width: calc(30% - 50px);
}
#bandeau_search div {
	display: inline;
}
#bandeau_search #form {
	width: calc(100% - 150px);
}
#form form{
	margin-top: 45px;
	float: right;
	display: inline;
	width: calc(70% - 50px);
	text-align: right;
}
#bandeau_search div a {
	text-decoration: none;
}
#bandeau_search div a span {
	vertical-align: top;
	font-family: VarelaRound;
	font-size : 15px;
	line-height: 100px; /* La hauteur de l'image */
}
input[type="text"] {
	text-align:center;
	margin-right: 10px;
	font-size: 20px;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	font-family: VarelaRound;
}

input[type="submit"]:hover{
	background-color:#EAEAEA;
}
input[type="submit"]:active{
	background-color:#E0E0E0;
}
input[type="submit"] {
	font-family: VarelaRound;
	border-radius: 10px;
	border:1px solid #D3D3D3;
	line-height: 40px;
	min-height:40px;
}




@media screen and (min-width: 651px) {
	#menu .cart {
		display:none;
	}
	#header input[type="text"], .login input[type="text"]  {
		width: calc(80% - 150px);
		min-width : 200px;
	}
	li form{
		display:none;
	}
	.center{
		width: calc(150px * 4);
		/* width: calc(150px * 5); */
		margin:0 auto !important;
	}
	#head {
		display:none;
	}
	
	.img_min{
		display:none;
	}
	#menu ul {
		margin:0;
		padding:0;
		list-style-type:none;
		text-align:center;
		box-sizing: content-box;
	}
	#menu {
		background-size: cover;
		width: 100%;
		height:200px;
		background-image: url("../res/banner4.jpg");
	}
	#menu::after {
	  content: "";
	  clear: both;
	  display: table;
	}
	#menu ul li {
		float:left;
		width:150px;
		display:block;
		line-height:30px;
	}
	#menu ul li a {
		display:block;
		text-decoration:none;
		padding:5px;
		color: black;
		background-color: white;
		transition-property: background;
		/* transition-duration:0.1s;	 */
	}
	#menu_corner {
		border-top-left-radius: 25px;
	}
	
	#menu ul li:hover a{
		border-right: 1px solid #d9d9d9;
		border-left: 1px solid #d9d9d9;
	}
	#menu ul li a{
		border-right: 1px solid #F6F6F6;
		border-left: 1px solid #F6F6F6;
	}
	#menu ul li a:hover {
		background: linear-gradient(#fdfdfd, #ebebeb);
	}
	#menu ul li ul {
		display:none; /* Par défaut, le sous-menu est caché */
		position: relative;
		left: auto; 
		top: auto;
		background-color: white;
		/* On fait appliquer les placements par défaut pour le menu horizontal */
	}
	#menu ul li:hover ul {
		display:block; /* On affiche le sous-menu lors du hover */
	}
	.separateur{
		display: none;
	}
	.chevron-down{
		width: 10px;
		display: inline;
	}
}



@media screen and (max-width: 650px) { 
	.banner{
		background-size: cover;
		width: 100%;
		height:200px;
		background-image: url("../res/banner4.jpg");
	}
	#header input[type="text"], .login input[type="text"]  {
		width: calc(100% - 105px);
	}
	#bandeau_search{
		display: none;
	}
	#head {
		transform: translateY(10px);
		display: inline-block;
		width: calc(100% - 40px);
	}
	.chevron-down{
		display: none;
	}
	#menu {
		overflow: hidden;
		/* background-color: #333; */
		position: relative;
		color: black;
	}

	#menu ul {
		padding-left: 10px;
		padding-right: 10px;
		list-style:none;
	}
		
	.img_min{
		transition-duration: 500ms;
	}
	.img_min:focus{
		transform: rotate(90deg);
	}
	#menu a{
		text-decoration:none; 
		width: calc(100% - 40px);
		display: inline-block;
		color: black;
	}
	#menu a:first-child {
		width: calc(100% - 100px);
	}
	.cart, .cart img {
		width: 35px !important;
	}
	#menu ul li a{
		line-height: 30px;
	}
	#dernier-menu {
		padding-bottom: 0.5em;
	}
	
	#br:focus ~ ul #m1,
	#br:focus ~ ul #m2,
	#br:focus ~ ul #m3,
	#br:focus ~ ul #m4,
	#br:focus ~ ul #m5,
	#br:focus ~ ul #rechercher {
		display: block;
	}
	#im1:focus + ul #sm11,
	#im1:focus ~ ul #sm12,
	#im1:focus ~ ul #sm13{
		display: block;
	}
	#im2:focus + #u2,
	#im2:focus ~ ul #sm21,
	#im2:focus ~ ul #sm22,
	#im2:focus ~ ul #sm23{
		display: block;
	}
	#im3:focus + #u3,
	#im3:focus ~ ul #sm31,
	#im3:focus ~ ul #sm32,
	#im3:focus ~ ul #sm33{
		display: block;
	}
	
	#menu ul:not(:hover) li {
		display: none;
		width: 100%;
	}
	
	#menu ul li ul a{
		margin : 0;
	}
	.NoneSm{
		display: none;
	}
}


input[type="text"]:focus + li {
	display: block;
}
input[type="image"]:focus {
	pointer-events: none; 
}
input[type="text"]:focus {
    border-color: grey;
}
.wrapper{
	margin-right: 2%;
	margin-left: 2%;
	text-align:justify;
	background: #fafafa;
	padding : 1%;
	padding-bottom: 2em;
}

h1{
	font-family: Countryside;
	color:  black;
	text-align:center;
	line-height: 70px;
	margin: 10px;
	padding-bottom: 10px;
	font-size: 2.5em ;
}

h2{
	/* text-indent: 2em; */
	font-family: Courgette;
	font-family: Kalam;
	font-family: 'Montserrat';
	color:  grey;
	text-transform: uppercase;
	text-align:center;
}
.container{
	margin: 1.5%;
	margin-bottom:0;
}
footer {
	background-color: #293240;
	margin-top : 2em;
}

footer .container {
	padding : 1.5%;
	color: white;
	text-align:center;
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	justify-content:space-around;
}

footer .container div p {
	font-family: Montserrat;
}
footer .container div ul {
	list-style : none;
	padding-inline-start: 0;
}
footer .container div ul li a {
	text-decoration:none;
	color: white;
}
footer .container div ul li a:hover {
	color: grey;
}



.NumeroPage {
	margin: 0 auto;
	margin-top: 20px;
	display: table;         
	width: auto;         
	background-color: #eee;
	border: 1px solid #666666;
}
.NumeroPage div {
	display: table-row;
	width: auto;
	clear: both;
}
.NumeroPage div a:hover{
	background-color: #ccc;  
}
.NumeroPage div a:active{
	background-color: #eee;  
}
.grise{
	background-color: #ccc !important;  
}
.grise:active{
	background-color: #ccc !important;  
}
.NumeroPage div a { 
	text-decoration:none;
	user-select: none;
	border: 1px solid #666666;
	line-height: 30px;
	float: left;
	text-align:center;
	display: table-column;        
	width: 30px; 
	background-color: #dedede;  
}


#m2 a, #m3 a {
	cursor: not-allowed;
}


a[href="notre-magasin.html"], 
a[href="sav.html"], 
a[href="nous-contacter.html"], 
a[href="../notre-magasin.html"], 
a[href="../sav.html"], 
a[href="../nous-contacter.html"],
a[href="../../notre-magasin.html"], 
a[href="../../sav.html"], 
a[href="../../nous-contacter.html"],
a[href="../../../notre-magasin.html"], 
a[href="../../../sav.html"], 
a[href="../../../nous-contacter.html"], 
a[href="ordinateurs/index.html"],
a[href="informatique/peripheriques-pc/index.html"], 
a[href="informatique/composants/index.html"], 
a[href="informatique/composants/processeurs.html"], 
a[href="informatique/composants/rams.html"], 
a[href="informatique/composants/cartes-graphiques.html"], 
a[href="informatique/composants/stockage.html"], 
a[href="informatique/composants/cartes-meres.html"], 
a[href="informatique/peripheriques-pc/index.html"], 
a[href="informatique/peripheriques-pc/moniteurs.html"], 
a[href="informatique/peripheriques-pc/stockage-externe.html"], 
a[href="informatique/peripheriques-pc/imprimantes.html"], 
a[href="decorations/luminaires/index.html"], 
a[href="decorations/luminaires/muraux.html"], 
a[href="decorations/luminaires/posables.html"] {
	pointer-events: none;
}


#logoBig {
	margin : 0 auto;
	display:block;
	width: 30%;
	margin-bottom: 40px;
}
.qsn {
	padding-bottom:0;
}
.qsn p {
	font-size: 18px;
	text-indent: 40px;
	max-width: 800px;
	margin: 10px auto;
}
.qsn span {
	display:block;
	margin: 0 auto;
	text-align:center;
} 
.qsn span img{
	margin: 15px;
	width: 100px;
}
.flex {
	display:flex;
	flex-wrap: wrap;
}